.cardproduct{
  // padding-right: 45px;
}
.picproduct {
  width: 100%;
  height: auto;
}
.content {
  max-width: 300px;
  height: auto;
  margin: 10px 0;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  padding-bottom: 10px;
}